<p>{{message}}</p>
<h2 class="user_name">Welcome {{username}}</h2>
<p class="date_time">{{date}} {{time}}<p>
<p class="location">{{location}}</p>
<p class="title">{{title}}</p>
<p class="description">{{description}}</p>
<p class="participants">{{participants}}</p>
<button class"new_shindig"><a href="newshindig">New Shindig</a></button>