<div class="shindigDetails">
  <p class="date">{{date}}, {{start_time}}-{{end_time}}</p>
  <!-- <p class="time"></p> -->
  <p class="title">{{title}}</p>
  <p class="owner">{{owner}}</p>
  <p class="location">{{location}}</p>
  <p class="description">{{description}}</p>
</div>
<div class="icons">

</div>
<!-- <p class="participants">{{participants}}</p> -->

