<div class="shindigDetails">
  <div class="shindigDetail" id="date">{{date}}, {{start_time}}-{{end_time}}</div>
  <!-- <p class="time"></p> -->
  <div class="shindigDetail" id="title">{{title}}</div>
  <div class="shindigDetail" id="owner">{{owner}}</div>
  <div class="shindigDetail" id="location">{{location}}</div>
  <div class="shindigDetail" id="description">{{description}}</div>
</div>
<div class="icons">

</div>
<!-- <div class="participants">{{participants}}</div> -->

