<p class="username">{{username}}<p>
<p class="full_name">{{ first_name }} {{ last_name }}</p>
<p class="email"><a href="mailto:{{ email }}">{{ email }}</a></p>
<p class="interests">{{interests}}</p>

